.root {
    -fx-background-image: url("../resources/homepage.png");
    -fx-background-size: cover;
    -fx-padding: 0;
}

@font-face {
    font-family: "Jersey 10";
    src: url("../resources/fonts/Jersey10-Regular.ttf");
}

#title {
    -fx-font-size: 70px;
    -fx-text-fill: white;
    -fx-font-family: "Jersey 10", sans-serif;
}

#dashboardtitle {
    -fx-font-size: 50px;
    -fx-text-fill: white;
    -fx-font-family: "Jersey 10", sans-serif;
}

.button {
    -fx-font-family: "Jersey 10", sans-serif;
    -fx-text-fill: white;
    -fx-font-size: 30px;
    -fx-background-color: rgba(227, 227, 227, 0.10);
    -fx-background-radius: 30px;
    -fx-transition: all 0.3s ease-in-out;
}

.button:hover {
    -fx-background-color: rgba(220, 220, 220, 0.20);
    -fx-translate-y: 2px;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.3, 0, 5);
}

#backbutton {
    -fx-font-family: "Jersey 10", sans-serif;
    -fx-text-fill: white;
    -fx-font-size: 25px;
    -fx-background-color: rgba(227, 227, 227, 0.10);
    -fx-background-radius: 15px;
    -fx-transition: all 0.3s ease-in-out;
}

#backbutton:hover {
    -fx-background-color: rgba(220, 220, 220, 0.20);
    -fx-translate-y: 2px;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.3, 0, 5);
}

#directorylabel {
    -fx-font-family: "Jersey 10", sans-serif;
    -fx-text-fill: white;
    -fx-font-size: 20px;
}

#choosedirbutton {
    -fx-font-family: "Jersey 10", sans-serif;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-background-color: rgba(227, 227, 227, 0.10);
    -fx-background-radius: 15px;
    -fx-transition: all 0.3s ease-in-out;
}

#choosedirbutton:hover {
    -fx-background-color: rgba(220, 220, 220, 0.20);
    -fx-translate-y: 2px;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.3, 0, 5);
}